* {
    box-sizing: border-box;
}

body {
    background-color: #FBE4FF;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    gap:20px;
}

h1{
    margin: 0;
}

#App-title {
    background-color: #ffffd1;
    margin-top: 0px;
    margin-left: 0px;
    width:100vw;
    height: 50px;
    text-align: center;
    color: #FF9Cee;
    /*enter styling here*/
}

main{
    display: flex;
    flex-direction: column;
    gap:20px;
    align-items: center;
}

.question-card {
    width: 80vw; /*check this*/
    height: 170px;
    background-color:#ffffd1;
    color: #FF9Cee;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 10px;
}

.question {
    margin-left:30px;
    margin-right:30px;
}
footer {
    height: 50px;
    width: 100vw;
    background-color: #ffffd1;
    position:fixed;
    bottom:0px;
}

#nav-bar{
    display: flex;
    align-items: center;
    text-align: center;
}

img {
    height: 45px;
    color:#aff8db;
    /*background-color:#39ff14;*/
}

.nav-button{
    align-self: center;
}

button {
    height:30px;
    background-color: #aff8db;
    box-shadow: 10px 5px 5px #39ff14;
    color:#FF9Cee;
    border: none;
    margin-bottom:20px;
}

.bookmark {
    position: absolute;
    top: 0;
    right: 3px;
    height:30px;
} 

ul {
    list-style-type: none;
    font-size: 0.5em;
    position:absolute;
    /*z-index: 99;*/
    bottom: 3px;
    left: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    margin-top: 20px;
}

li {
    background-color: #39ff14;
    margin:2px;
    border:#FF9Cee solid;
    border-radius: 1px;
    padding:2px;
}